/* Base */

:root {
  --accent: var(--blue-9);
  --border-clr: var(--blue-5);
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;

  font-size: var(--font-size-2);
  font-weight: var(--font-weight-7);

  padding-inline: var(--size-4);
  padding-block: var(--size-2);

  color: var(--accent);
  border: var(--border-size-2) solid var(--border-clr);
  background-color: transparent;
  border-radius: var(--radius-2);
}

.button:hover,
.button:focus {
  cursor: pointer;
  color: var(--surface-1);
  background-color: var(--blue-5);
}

.button:active {
  color: var(--blue-0);
}

.input {
  padding-block: var(--size-2);
  width: 100%;

  border: var(--border-size-2) solid var(--border-clr);
  font-weight: var(--font-weight-7);
}
.input[type="number"] {
  max-width: 5rem;
  padding-left: 1rem;
}

.input.edge {
  max-width: 4rem;
  
}

td {
  border: 2px solid var(--border-clr);
}

/* Main */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-inline: 80px;
}

.input-group {
  display: flex;
  gap: 12px;
}


table + table {
  margin-top: 24px;
}